div
        div(class="col s1")
            label(for="displayitemid") Item ID
            input(id="displayitemid" name="displayitemid")

        div(class="col s2")
            label(for="lotnumber") Lotnumber
            input(id="lotnumber" name="lotnumber")
            
            a(href="#" class="editlink") Edit Info
            a(class="savebtn") Save

        div(class="gear")
            label(for="itemname") Item Name
            span(id="name" name="name" class="datainfo")
            
            a(href="#" class="editlink") Edit Info
            a(class="savebtn") Save

        div(class="gear")
            label(for="category") Category
            span(id="category" name="category" class="datainfo")
            
            a(href="#" class="editlink") Edit Info
            a(class="savebtn") Save

        div(class="gear")
            label(for="description") Description
            span(id="itemdescription" name="description" class="datainfo")
            
            a(href="#" class="editlink") Edit Info
            a(class="savebtn") Save

        div(class="gear")
            label(for="estimatelow") Estimate Low
            span(id="estimatelow" name="estimatelow" class="datainfo")
            
            a(href="#" class="editlink") Edit Info
            a(class="savebtn") Save

        div(class="gear")
            label(for="estimatehigh") Estimate High
            span(id="estimatehigh" name="estimatehigh" class="datainfo")
            
            a(href="#" class="editlink") Edit Info
            a(class="savebtn") Save

        div(class="gear")
            label(for="reserve") Reserve
            span(id="reserve" name="reserve" class="datainfo")
            
            a(href="#" class="editlink") Edit Info
            a(class="savebtn") Save

        div(class="gear")
            label(for="consignorId") Consignor#Id
            span(id="consignorId" name="consignorId" class="datainfo")
            
            a(href="#" class="editlink") Edit Info
            a(class="savebtn") Save
