div(id="editbidderform" style="display:none")
        
        div(class="gear")
            label(for="displaybidderid") Bidder ID
            span(id="displaybidderid" name="displaybidderid" class="datainfo")
        

        div(class="gear")
            label(for="firstname") First Name
            span#firstname(name="firstname" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save

        div(class="gear")
            label(for="lastname") Last Name
            span#lastname(name="lastname" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save

        div(class="gear")    
            label(for="address") Address
            span#address(name="address" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save

        div(class="gear")
            label(for="zipcode") Zipcode
            span#zipcode(name="zipcode" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save

        div(class="gear")
            label(for="city") City
            span#city(name="city" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save

        div(class="gear")
            label(for="country") Country
            span#country(name="country" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save
        
        div(class="gear")
            label(for="phone") Phone
            span#phone(name="phone" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save

        div(class="gear")
            label(for="email") Email
            span#email(name="email" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save


        div(class="gear")
            label(for="payment") Payment
            span#payment(name="payment" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save

        div(class="gear")
            label(for="commission") Shipping
            span#shipping(name="shipping" type="text" class="datainfo")
            a(href="#" class="beditlink") Edit Info
            a(class="bsavebtn") Save

        .row
            button(class="deletebidder btn waves-effect waves-light blue-grey darken-4" type="submit" value="delete") Delete
