form(action='/item' method='post' class='col s12 white-text' style="margin:10px")
    .row
        
        input-field(class='col s3 blue-grey darken-4')
            label(for="consignorid") Consignor #ID
            input(placeholder="Consignor#ID" name="consignorId" type="text" class="validate")
        
        input-field(class='col s3 offset-s1 blue-grey darken-4')
            label(for="lotid") Lot #ID
            input(placeholder="Lot#ID" name="lotid" type="text" class="validate")
        
        input-field(class='col s3 offset-s2 blue-grey darken-4')
            label(for="lotnumber") Lotnumber
            input(placeholder="Lotnumber" name="lotnumber" type="text" class="validate")
    
    .row
        input-field(class='col s5')
             label(for="catergory") Category
             input(placeholder="Catergory" name="catergory" type="text" class="validate")
        
        input-field(class='col s7')
            label(for="itemname") Item Name
            input(placeholder="Item Name" name="name" type="text" class="validate")
   
        input-field(class='col s4')
        
            label(for="category") Category
            input(placeholder="Category" name="category" type="text" class="validate")


    .row
        input-field(class='col s12')
            label(for="description") Description
            textarea(class="materialize-textarea" placeholder="Description" id="description" type="text" class="validate" name="description")
    .row
        input-field(class='col s4')
            label(for="estimate") Estimate Low
            input(placeholder="Estimate" name="estimate" type="text" class="validate")
            
        input-field(class='col s4')
            label(for="estimate") Estimate High
            input(placeholder="Estimate" name="estimate" type="text" class="validate")

        input-field(class='col s4')
            label(for="reserve") Reserve
            input(placeholder="Reserve" name="reserve" type="text" class="validate")
            
    .row
        button(class="btn waves-effect waves-light blue-grey darken-4" type="submit" value="add") Add
