doctype html
html(lang='en')
head
	title Auction House Dashboard
	link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
	link(rel="stylesheet" href="/css/style.css")
	link(rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css")

	meta(name='viewport', content='width=device-width, initial-scale=1')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
	script(src="/js/custom.js")
	script(type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js")

body
	include ./navbar.jade

	.row

		div(class="blue-grey darken-3 col s6" style="height:100vh")
			div(class="col s12" style="margin-top:10px;")

				.row
					button(class="btn waves-effect waves-light blue-grey darken-4" id="addconsignor" style=" float:right") Add Consignor
					input(type="text" id="myInputTextField")

				.row
					
					table(class="white-text bordered highlight" id="consignors" cellspacing="0" width="100%")

						thead
							tr
								th ID
								th Name
								th City

						tbody
							each consignor in consignors
								tr
									td=consignor.id
									td=consignor.firstname +" "+ consignor.lastname
									td=consignor.city							


		div(class="blue-grey darken-2 col s6" style="height:100vh")

			include ./forms/consignorform.jade			

			include ./forms/editconsignorform.jade
