doctype html
html(lang='en')
head
	title Auction House Dashboard
	link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
	link(rel="stylesheet" href="/css/style.css")
	link(rel="stylesheet" href="/css/tables.css")
	meta(name='viewport', content='width=device-width, initial-scale=1')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
	script(src="/js/custom.js")

body
	include ./navbar.jade
	
	.row
		
		div(class="blue-grey darken-3 col s6" style="height:100vh")
			
			a(class="waves-effect waves-light btn modal-trigger" href="#modal1") Add Consignor
			div(id="modal1" class="modal")
				div(class="modal-content")
					include ./forms/consignorform.jade
			
			table(class="white-text bordered highlight" id="consignors" cellspacing="0" width="100%")
				thead
					tr
						th ID
						th Name
						th City
						th
				tbody
					each consignor in consignors
						tr
							td=consignor.id
							td=consignor.firstname +" "+ consignor.lastname
							td=consignor.city
							td
								button(class="btn waves-effect waves-light blue-grey darken-4" type="get" value="get") edit
								
							

		div(class="blue-grey darken-2 col s6" style="height:100vh")
			ul(class="collapsible" data-collapsible="accordion")
				li
					div(class="btn waves-effect waves-light blue-grey darken-4 collapsible-header") Add new consignor
							i(class="small material-icons blue-text" id="viewConsignor") add
							
					div(class="collapsible-body")
						include ./forms/consignorform.jade
