doctype html
html(lang='en')
head
	title Auction House Items
	link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
	link(rel="stylesheet" href="/css/style.css")
	link(rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css")
	
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
	script(src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js")
	script(src="/js/custom.js")
	meta(name='viewport', content='width=device-width, initial-scale=1')

body
	include ./navbar.jade

	.row

		div(class="blue-grey darken-3 col s6" style="height:100vh")
			.row
				table(class="highlight white-text" id="items" cellspacing="0" width="100%")
					thead
						tr
							th ID
							th Lot
							th Name
							th Description
					tbody
						each item in items
							tr(class="itemclicked")
								td(class="itemid")=item.itemid
								td=item.lotnumber
								td=item.name
								td=item.description


		div(class="blue-grey darken-2 col s6" style="height:100vh")
			.row
				div(style="margin-top:10px;")
					button(class="btn waves-effect waves-light blue-grey darken-4" id="additem") Add Lot
					a(class="btn waves-effect waves-light deep-orange darken-4" id="canceladditem" style="margin-left:10px; display: none") Cancel
			
			.row 
				include ./forms/lotform.jade
			
				include ./forms/editlotform.jade
