html
	body
		link(rel="stylesheet" href="/css/tables.css")

table#example.display(cellspacing='0', width='100%')
	thead
		tr
			th LotID
			th Lot#
			th Name
			th Category
			th Description
			th Est Low
			th Est High
			th Reserve
			th BidderID
